body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #1d1a1a;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2, h3 {
    color: #380f97;
}

label {
    color: #555;
}

input[type="submit"] {
    background-color: #044b06;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.error {
    color: red;
}
